@font-face {
	font-family: "ProximaNovaRegular"; 
	src: url("fonts/proximanova_light.otf") format("opentype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "ProximaNovaBold"; 
	src: url("fonts/proximanova_bold.otf") format("opentype"); 
	font-style: normal; 
	font-weight: normal; 
} 

body {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	width: 100%;
}

.mainStr {
	display: flex;
}

.logo {
	width: 100%;
	border-bottom: solid 15px #F4F4F4;
}

.logo img {
	margin-top: 3%;
	margin-left: 5%;
	padding-bottom: 2%;
	max-width: 250px;
	width: 100%;
	height: auto;
}

#back {
    width: 18px;
    height: auto;
    display: block;
    position: absolute;
    cursor: pointer;
    left: -99999px;
}

.menu {
	margin-top: 2%;
	margin-left: 2.5%;
	height: 100%;
	text-wrap: nowrap;
    width: 20%;
}

.menu ul {
	margin: 0;
	padding: 0;
	margin-left: 10%;
}

.menu ul li {
	list-style-type: none;
	margin-bottom: 6%;
	display: flex;
	justify-content: space-between;
    flex-wrap: nowrap;
}

.menu ul li a {
	text-decoration: none;
	color: #161823;
	transition: 0.2s;
	font-family: "ProximaNovaBold";
	font-size: 20px;
}

.lisn {
	cursor: pointer;
}

.strelka {
	cursor: pointer;
	transform: rotate(180deg);
}

.menu a:hover {
	color: #FE2C55;
}

.monM {
    position: absolute;
	right: -99999px;
    left: -99999px;
}

.viewVideo {
    position: absolute;
	right: -99999px;
    left: -99999px;
	margin-left: 5%;
	margin-top: 2%;
    max-width: 80%;
}

.balance {
	font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
	font-size: 48px;
	margin: 0;
}

.buttons {
    margin-left: -3%;
	margin-top: 2%;
	margin-bottom: 2%;
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
}

.vivod {
	font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
	font-size: 20px;
	margin-right: 2%;
	color: #161823;
	background-color: #F4F4F4;
	padding: 5px 20px 5px 20px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.2s;
    text-align: center;
}

.vivod:hover {
	background-color: #c9c9c9;
}

.prosmotri {
	font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
	font-size: 22px;
}

.dopkn {
	display: flex;
}

.dopkn p {
	margin: 0;
	margin-right: 2%;
	font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
	font-size: 14px;
	color: #4F4F4F;
	cursor: pointer;
	transition: 0.2s;
}

.dopkn p:hover {
	color: #FE2C55;
}

.ick {
    position: absolute;
    margin-left: -24px;
    height: 19px;
    width: auto;
}